html,body {
    background-color: black;
}
.container-fluid {
    padding-top: 7%;
    width: 100% !important;
    margin: 0;
}
.jumbotron {
    color: white;
    height: 35% !important;
}
.hero-spacer {
    padding: 2%;
    padding-top: 15%;
    padding-bottom: 5%;
}
.hero-feature {
    margin-bottom: 30px;
}
footer {
    margin: 50px 0;
}
hr {
    padding:0;
    margin:0;
}
.row {
    padding: 0;
    margin:0;
}
.container2 {
    background-color: white;
    margin: 2%;
    margin-bottom: 0;
    padding: 1%;
    padding-top:0;
    border-radius: 10px;
    margin-top: -50px;
}
.thumbnail {
    margin: 1% !important;
    text-align: left;
}
.thumbnail i {
    font-size: 1.2em;
}
.thumbnail span {
    font-size: 22px;
}
.jumbotron {
    background-image: url("../images/sun2.jpg");
    background-size: cover;
}
#mercury {
    size: .4em;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    float: none;
    vertical-align: bottom;
}

.navbar .nav li a {
    padding:0;
    font-weight: bold;
    text-align: center;
}
.name {
    margin-top: 3%;
}
#sat {
    margin-top: 0;
}
