body {
    margin:0;
    padding: 0;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url("../images/galactic.jpg");
    /*url("../images/flamingstar_pugh_2666.jpg");
*/
    background-size: cover;
}
body {
    height: 100%;
}
footer {
    bottom: 0;
    margin: 50px 0;
}
hr {
    padding:0;
    margin:0;
}
.row {
    padding: 0;
    margin:0;
}
.container2 {
    left:0;
    right:0;
    background: rgba(255, 255,255, .25);
    margin: 2%;
    margin-bottom: 0;
    padding: 0%;
    padding-top:0;
    color: white;
    margin-top:0;
}   
.thumbnail {
    margin: 1% !important;
    margin-bottom: 5% !important;
    text-align: left;
    background-color: rgba(255, 255,255, .8);
    border-radius: 12px;
}
.thumbnail i {
    font-size: 1.2em;
}
.thumbnail span {   
    font-size: 22px;
}
.thumbnail h4 {
    text-align: center;
}
.thumbnail h3 {
    margin-top: 1%;
}
.header2 {
    padding-top: 13%;
    margin-bottom: 0;
    margin-top:0;
    background-image: url("../images/sun2.jpg");
    background-size: cover;
    z-index: 1px;
    box-shadow: 0px 5px 23px rgba(0, 0, 0, 1);
    margin: 0;
    color: white;
}
.header2 h1 {
    color: wh   ite;
    padding: 1%;
    padding-left: 4%;
    margin-bottom: 0;
}
#mercury {
    size: .4em;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.container-fluid {
    margin:0px !important;
    padding:0px !important;
}
.navbar-custom {
    margin:0;
    width: 100%;
}
.navbar-sm .nav{
    margin: 0;
    margin-top: 2%;
    display: table;
    width: 100%;
    background:rgba(255, 255,255, .25);
    ) !important;
}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-collapse > ul {
    padding-right: 10px;
    padding-left: 10px;
}
.navbar-header {
    margin: 0;
    margin-top: 15px;
    height: 40px;
    background-color:rgba(255, 255,255, .25)
}
.navbar-sm .nav li {
    display: table-cell;
    float: none;
    vertical-align: bottom;
}
.navbar-sm .nav li:hover, .navbar .nav li:focus {
    background-color: none !important;
}

.navbar-sm .nav li a {
    margin-left: 3px;
    margin-right: 3px;
    padding-left:2px;
  	padding-right:2px;
    padding-top:12px;
    padding-bottom:12px;
    color: white;
    font-weight: bold;
    text-align: center;
    
}
.navbar-sm .nav li a:hover, .navbar .nav li a:focus {
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.3), 
      rgba(255, 255, 255, 0.1)
    );
}
.active {
    background:
    linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.3)
    ) !important;
}
.navbar-sm button {
    margin-top:5px;
    margin-bottom:0;
    padding-top: 7px;
    padding-left: 7.25px;
    height: 30px;
    width: 38px;
    background-color: rgba(255, 255,255, .40);
}
.navbar-sm button span {
    background-color: white;
}
.dropdown ul {
    color: none;
    padding-left: 7%;
    padding-right: 7%;
    background-color: rgba(255, 255,255, .40);
}
.dropdown li {
    display: block !important;
}

.navbar-collapse.in {
    display: block;
    width: 100% !important;
    margin:0;
    padding:0;
}
.open > a {
    color: white !important;
    background:linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.3)
    ) !important;
} 
footer {
    margin-bottom: 0;
    padding-bottom: 1%;
    color: white;
    background-color: rgba(255, 255, 255, .25);
    text-align: left;
}
footer h2 {
    padding-left: 2%;
}
.map-holder {
    text-align: center;
}
.foot > .row {
    margin: 0;
    padding: 0;
}
.info p {
    text-align: left;
}
#banner {
    margin-top: 1%;
    padding: 6.5%;
    background-image: url("../images/SCBanner.png");
    background-size: contain;
    background-color: transparent;
    margin-bottom: -1.5%;
}   
#content {
    padding-left: 2%;
    padding-right: 2%;
}
.row {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-right: 2%;
    vertical-align: center;
}
.img-fluid {
    margin: 10px;
    border: 3px solid white;
    width: 100%;
    height: auto;
    
}
.col-sm-4 {     
    text-align: center !important;
}
#profile {
    padding: 2%;
    margin-top: 1%;
    border: 3px solid white;
}
#profile > h3 {
    margin-top: 2%;
    text-align: left;
}
#profile ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}
#profile li {
    text-align: left;
    text-decoration: none;
}
.map-holder {
    width: 100%;
    height: 250px;
}
.img1 {
    float:right;
}
.img2 {
    float: left;
}
@media (min-width: 769px) {
    #content {
        width: 
    }
    .fRow {
        padding-left: 1%;
        padding-bottom: 1%;
    }
}
@media (max-width: 768px) {
    .navbar-collapse {
        padding-left: 15px;
    }
    .container-fluid > .navbar-header {
        margin-right:0;
    }
    .navbar-sm .nav {
        margin-top: 0;
    }
    .dropdown-menu li {
        display: block;
        background-color: rgba(255, 255,255, .20);
    }
    .dropdown ul {
    color: none;
    padding-left: 0%;
    padding-right: 0%;
    background-color: rgba(255, 255,255, .40);
    }
    .navbar-sm li {
        margin:0;
        display: block !important;
        border-bottom: 1px solid rgba(255, 255,255, .3);
    }
    #banner {
        margin-bottom: -2%;
    }
    ._brackets-ld-highlight {
        width:0;
    }
    .active, .actvie:hover, .active:focus {
        border-radius: 0px !important;
    }
}
@media (max-width: 600px) {
    .map-holder {
    width: 100%;
    height: 200px;
    }
}
